# Configurações do PostgreSQL
PG_USER=seu_usuario_postgres
PG_HOST=localhost
PG_DATABASE=nome_do_banco_postgres
PG_PASSWORD=sua_senha_postgres
PG_PORT=5432

# Configurações do SQL Server
SQL_USER=seu_usuario_sqlserver
SQL_PASSWORD=sua_senha_sqlserver
SQL_SERVER=seu_servidor_sqlserver
SQL_DATABASE=nome_do_banco_sqlserver 